[submodule "l10n_cl_base_rut"]
	path = l10n_cl_base_rut
	url = https://github.com/odoo-chile/l10n_cl_base_rut
	branch = 9.0
[submodule "l10n_cl_partner_activities"]
	path = l10n_cl_partner_activities
	url = https://github.com/odoo-chile/l10n_cl_partner_activities
	branch = 9.0
